.backgroundImage {
  background-image: url(../assets/background.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.mint {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 4rem;
  text-align: center;
  color: #F2E9E4;
  font-size: 1.2rem;
  line-height: 1.5;
}

.card {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 0.25rem;
  min-height: 25vh;
  min-width: 25vw;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
}

.text {
  font-size: 2.5rem;
}

.description {
  font-size: 1rem;
}

.image {
  width: 250px;
  height: 250px;
  margin: 20px;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
  background-color: #F2E9E4;
  cursor: pointer;
}

.image-blurred {
  filter: blur(5px);
}

.mintButton {
  display: block;
  margin-top: 10px;
  background: #F2E9E4;
  color: #4A4E69;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.mintButton:hover {
  animation: colorshift 2s infinite, pulse 1s infinite;
}

@keyframes colorshift {
  0% {
    background-color: #F2E9E4;
    color: #4A4E69;
  }
  50% {
    background-color: #4A4E69;
    color: #F2E9E4;
  }
  100% {
    background-color: #F2E9E4;
    color: #4A4E69;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}


.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.modalContextLayer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 10;
}

.modalImage {
  max-width: 100%;
  height: auto;
}

/* Add this for dynamic maxWidth if you prefer CSS over inline styles */
@media (min-width: 768px) {
  .modal {
    max-width: 33%;
  }
}

@media (max-width: 767px) {
  .modal {
    max-width: 80%;
  }
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-height: 80%;
  overflow: auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
}

.spinner-container {
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner {
  /* Add spinner styles here, for example: */
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #000;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.listItem {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #F2E9E4;
  border-radius: 0.33rem;
  margin: 5px;
}
