#root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.link:hover {
  transform: scale(1.2);
}

.articleContent {
  font-size: 1.5rem;
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
  z-index: 1; /* Ensure it's above other content */
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #000;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}